# Python
venv/
__pycache__/
*.pyc

# Django
db.sqlite3
.env

# IDE
.idea/
.vscode/

# Gradle / Java
.gradle/
build/

# OS
.DS_Store
Thumbs.db

.venv/
# Local artifacts
*.zip
/tz.docx
/tz_extracted.txt
/et --hard 62286d4
